{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projetos | Lorem Ipsum Inc</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JavaScript -->
    <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'projetos/js/controller_listar.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <h1 class="mt-4">Projetos</h1>
      <p class="lead">Listagem de projetos do Grupo Lorem Ipsum Inc.</p>
      <div class="mb-4">
        <a href="{% url 'cadastrar' %}">
          <button type="button" class="btn btn-primary mr-4" name="button">Cadastrar projeto</button>
        </a>
        <a href="{% url 'participante_cadastrar' %}">
          <button type="button" class="btn btn-secondary" name="button">Cadastrar participante</button>
        </a>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de início</th>
            <th scope="col">Data de término</th>
            <th scope="col">Valor</th>
            <th scope="col">Risco</th>
            <th scope="col">Participantes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for projeto in lista_projeto %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ projeto.nome }}</td>
            <td>{{ projeto.data_de_inicio|date:"d/m/Y"}}</td>
            <td>{{ projeto.data_de_termino|date:"d/m/Y" }}</td>
            <td>R${{ projeto.valor }}</td>
            <td>{{ projeto.get_risco_display }}</td>
            <td>{{ projeto.numero_de_participantes }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'editar' projeto.id %}">
                  <button type="button" class="btn btn-outline-primary btn-sm">Editar</button>
                </a>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="$('#calculoModal{{ forloop.counter }}').modal('show')">Simular investimento</button>
                <button type="button" class="btn btn-outline-danger btn-sm" onclick="$('#exampleModal{{ forloop.counter }}').modal('show')">Excluir</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div> <!-- /container -->

    {% for projeto in lista_projeto %}
    <!-- Modal -->
    <div class="modal" id="exampleModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Exclusão</h5>
          </div>
          <div class="modal-body">
            <p>Deseja excluir o projeto {{ projeto.nome }}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="$('#exampleModal{{ forloop.counter }}').modal('hide')">Fechar</button>
            <a href="{% url 'excluir' projeto.id %}">
              <button type="button" class="btn btn-danger">Excluir</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="calculoModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="calculoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cálculo de retorno do investimento</h5>
          </div>
          <div class="modal-body">
              <div class="alert alert-danger" role="alert" style="display: none;">
                O valor do investimento deve ser maior que o valor do projeto!
              </div>
              <input type="hidden" value="{{ projeto.risco }}" name="risco">
              <input type="hidden" value="{{ projeto.valor }}" name="valor">
              <label for="exampleInputEmail1">Valor total do investimento</label>
              <div class="input-group mt-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">R$</span>
                </div>
                <input type="text" class="form-control" placeholder="550" name="investimento" required>
              </div>
              <p class="mt-2 text-secondary">Por favor, clique no botão abaixo para realizar o cálculo de retorno do investimento</p>
              <button class="btn btn-primary" value="{{ projeto.valor }}" name="calcular">Calcular</button>
              <p class="mt-3 bg-light text-dark rounded">Retorno do investimento: R$<span id="retornoInvestimento{{ forloop.counter }}"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="$('#calculoModal{{ forloop.counter }}').modal('hide')">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
